.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: #645f5f;
  padding: 20px 0;
}

.footer-item {
  text-align: center;
}

.footer-item h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #bbbb20;
}

.footer-item p {
  font-size: 0.9em;
  color: white;
}

.footer{
    width:100%;
    height: 20px;
    background-color:#bbbb20;
}
